.example-header-image {
  background-image: url('../../../assets/image/ym-logo-wo-wording.png');
  background-size: cover;
}

.example-card {
  width: 200px;
  margin: 40px;
  background-color: rgba(68, 178, 204, 0.95);
  display: inline-block;
}
